* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
  background-color: antiquewhite;
}

.container {
	width: 100%;
	max-width: 1250px;
	margin: auto;
}

.container h3 {
	margin: 25px 0;
	font-size: 30px;
	color: #1c2833;
	font-weight: 700;
}

.container input {
	display: inline;
	padding: 6px 25px;
	border: 2px solid #28b463;
	background: #28b463;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
    border-radius: 5px;
}

.container input:hover {
	background: #318d57;
}